@media (max-width: 1410px) {
    .portfolio_inner {
        justify-content: space-around;
        margin: 0 5px;
    }
    .whatido_title {
        margin-bottom: 50px;
    }
    
    .aboutMe_some-text {
        font-size: 30px;
    }
    .aboutMe h2 {
        margin-right: 20px;
    }

    .whatido_title-bottom {
        margin-left: 20px;
    }

    .contact_letsWork {
        margin-left: 15px;
        
    }

    .contact_letsWork .contact_text {
        font-size: 26px;
    }
}


@media (max-width: 1282px) {
    .skills_inner {
        justify-content: space-around;
    
   
    } 

    .skills_item {
        margin-right: 5px;
        margin-left: 5px;

    }

    .aboutMe_some-text {
        font-size: 25px;
    }
}

@media (max-width: 1110px) {
    .whatido_inner {
        
    }
    /* .whatido_item-title {
        font-size: 25px;
    }
    .whatido_text {
        font-size: 16px;
    } */
    .main_img img {
        display: none;
    } 
    .main_title {
        text-align: center;
    }
    .main_text {
        text-align: center;
    }
    .main-s_text {
        margin: 0 auto;
    }
}

@media (max-width: 1025px) {
    .whatido_inner {
        display: block;
        margin: 0 auto;
    }
    .whatido_item {
        margin: 0 auto;
        margin-bottom: 40px;
        
        max-width: 407px;
       
    }
    .contact_letsWork {
        display: none;
    }
}

@media (max-width: 700px) {
    .header_navigation {
        display: none;
    }
    .hamburger_btn {
        display: inline-block;
    }

    .main_text {
        max-width: 620px !important; 
        font-size: 25px;
    }
    .skills_instruments {
        display: none;
    }
    .skills_line {
        display: none;
    }

    .contact input {
        max-width: 339px;
    }

    .contact_send-btn {
        margin-bottom: 25px;
    }
}